<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Add employee to unit</title>
    </head>
    <body>
    <form action="#" th:action="@{/employee/addToUnit}" method="post">
        <table style="border:2px solid #777777;width:300px;">
            <tr>
                <th colspan="2">Add employee to unit</th>
            </tr>
            <tr>
                <td>Employee id</td>
                <td>
                    <select name="employeeId">
                        <option th:each="employeeId : ${employeesIds}"
                                th:value="${employeeId}"
                                th:text="${employeeId}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Unit id</td>
                <td>
                    <select name="unitId">
                        <option th:each="unitId : ${unitsIds}"
                                th:value="${unitId}"
                                th:text="${unitId}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2"><input type="submit" value="Add"/></th>
            </tr>
        </table>
    </form>
    <div><a href="/">Go to main</a></div>
    </body>
</html>